*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.displaydetails{
    display: flex;
    justify-content: space-around;
}

.retailerdetails{
    margin: 10px;
    width: 100%;
    background-color:deepskyblue;
    color: black;
    font-weight: bold;
    padding: 30px;
}

p{
    padding:30px;
    text-align: center;
    font-size: 20px;
}

.date{
  text-align: center;
  border-bottom: 2px solid black;
  margin: 10px;
  padding:10px;
  font-weight: bold;
}

.products{
    margin: 30px;
    border: 2px solid black;
    padding: 15px;
}


